@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PIZZA'S pizzaria</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
<div class="text-center">
    <p>Veja o nosso <a asp-controller="Home" asp-action="Cardapio">cardápio</a>.</p>
</div>
<div class="text-center">
    <p><a asp-controller="Home" asp-action="Login">Cadastre-se</a> e aproveite benefícios e promoções exclusivas! </p>
</div>
