@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
    </head>
    <body>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                
            </div>
            <div class="col">
                
                <br/>
                Faça seu login!
                <div class="col-auto">
                    <label for="email" class="col-form-label">Email:</label>
                </div>
                <div class="col w-100">
                    <input type="text" id="email" class="form-control">
                </div>

                <div class="col-auto">
                    <label for="senha" class="col-form-label">Senha:</label>
                </div>
                <div class="col w-100">
                    <input type="password" id="senha" class="form-control">
                </div>
                <br/>
                <br/>
                <button type="button" class="btn btn-warning">ENTRAR</button>
                <br/>
                <br/>

                <p>Ainda não se cadastrou? Cadastre-se e adquira nossos beneficios!</p>

                <div class="col-auto">
                    <label for="nome" class="col-form-label">Nome:</label>
                </div>
                <div class="col w-100">
                    <input type="text" id="nome" class="form-control">
                </div>

                <div class="col-auto">
                    <label for="nasc" class="col-form-label">Data de nascimento:</label>
                </div>
                <div class="col w-100">
                    <input type="text" id="nasc" class="form-control">
                </div>

                <div class="col-auto">
                    <label for="CPF" class="col-form-label">CPF(apenas numeros):</label>
                </div>
                <div class="col w-100">
                    <input type="text" id="CPF" class="form-control">
                </div>

                <div class="col-auto">
                    <label for="loginE" class="col-form-label">Email:</label>
                </div>
                <div class="col w-100">
                    <input type="text" id="loginE" class="form-control">
                </div>

                <div class="col-auto">
                    <label for="Nsenha" class="col-form-label">Nova senha:</label>
                </div>
                <div class="col w-100">
                    <input type="password" id="Nsenha" class="form-control">
                </div>

                <div class="col-auto">
                    <label for="Csenha" class="col-form-label">Repita a senha:</label>
                </div>
                <div class="col w-100">
                    <input type="password" id="Csenha" class="form-control">
                </div>

                <br/>
                <button type="button" class="btn btn-warning">CADASTRAR</button>



            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
    </body>
</html>